{% extends 'base/base.html' %}
{% load static %}
{% block title %}Rios de Luz - Home{% endblock title %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			
			<div class="jumbotron">
				<h2>
					Encontros com Eunice B. Ermel
				</h2>
				<p>
					Cinesiologia Aplicada e as Essências Florais que objetivam a 
					harmonização de todos os sistemas do corpo, reunindo de forma 
					extremamente feliz elementos terapeuticos do Ocidente e do Oriente.
				</p>
				<h3>Próximo encontro - 02/09 (quarta-feira) - 19h</h3>

				<h4>Incrições abertas</h4>
				
				<!-- INICIO DO BOTAO PAGSEGURO -->
				<a href="https://pag.ae/7WfaQi4G9/button" target="_blank" title="Pagar com PagSeguro">
					<img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
				</a>
				<!-- FIM DO BOTAO PAGSEGURO -->
				
					<!-- INICIO DO FORMULARIO DE INSCRIÇÃO -->
				<!-- <h4 class="mt-4">Confirme seu interesse</h4> -->

				<!-- <form action="https://life.us19.list-manage.com/subscribe/post?u=65b434aa705a324ffbdae4056&amp;id=c3b5bced1b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-row align-items-center" target="_blank" novalidate> -->
					<!-- <div class="form-row align-items-center"> -->
						<!-- <div class="col-auto"> -->
							<!-- <label class="sr-only" for="mce-EMAIL">email</label> -->
							<!-- <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="exemplo@email.com" > -->
						<!-- </div> -->
						<!-- <div class="col-auto"> -->
							<!-- <label class="sr-only" for="mce-FNAME">nome</label> -->
							<!-- <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="seu nome"> -->
						<!-- </div> -->
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
						<!-- <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65b434aa705a324ffbdae4056_c3b5bced1b" tabindex="-1" value=""></div> -->
						<!-- <div class="col-auto"> -->
							<!-- <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"> -->
						<!-- </div> -->
					<!-- </div> -->
				<!-- </form> -->

				<!-- FINAL FORMULARIO DE INSCRIÇÃO -->
				
				
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<h5 class="card-header">
							Eunice B Ermel
						</h5>
						<div class="card-body">
							<p class="card-text">
								<img src="{% static 'img/eunice.jpeg' %}" alt="foto de Eunice Ermel" 
							class="img-thumbnail float-left mr-3"/>
							</p>
						</div>
						
					</div>
				</div>
				<div class="col-md-6">
					<h2>
						Mais sobre a instrutora
					</h2>
					<p>
						
						Em 1983 iniciou seus estudos em Touch for Health - Cinesiologia Aplicada -  
						no Centro de Estudos e Pesquisa para o Homem Integral "CEPHI"- RJ. 
						Em 1984 recebe da Touch for Health Foundation - Estados Unidos, 
						o Certificado de Instrutora Oficial e em 1986, em San Diego - 
						California, é homenageada pelos trabalhos realizados em Cinesiologia 
						Aplicada. A partir de 1987 aprofunda seus conhecimentos e pesquisas 
						na área junto ao Instituto "Three In One Concepts", Pasadena - EUA.
					</p>
					<p>
						Acupunturista formada pela Associação Paulista de Acupuntura - 
						1986, recebendo o título de Membro honorário da Associação 
						Brasileira de Acupuntura em 1994.
					</p>
					<ul>
						<li>Co-fundadora da Associação Brasileira de Essências Florais 
							"Abreflor", em 1991, da qual foi Presidente de 1993 a 1997.
						</li>
						<li>Membro da Associação Internacional de Cinesiologia 
							Especializada "I-ASK", EUA.
						</li>
						<li>Membro do "CEPHI", associado ao Centro de Hof Van Axen da 
							Holanda.
						</li>
					</ul>
					<p>
						Eunice Barrak Ermel, nasceu em São Paulo, é educadora com habilitação 
						em Psicologia Educacional e Filosofia. 
						Dá atendimento em consultório, utilizando-se 
						do conjunto de técnicas corporais e energéticas denominado Rios 
						de Luz.
						Autora de vários artigos sobre Terapias Naturais e Essências 
						Florais, ministra palestras e cursos no Brasil e Exterior.
						Dá consultoria para escolas e empresas, orientando em 
						Cinesiologia Especializada, Ginástica Cerebral, Terapia Floral 
						e Técnicas de Auto-Ajuda.
					</p>
					
				</div>
			</div>	
		</div>
	</div>
</div>
{% endblock body %}