{% extends 'base/base.html' %}
{% load static %}
{% block title %}Rios de Luz - Aperitivos{% endblock title %}
{% block description %}página com videos gratuitos{% endblock description %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 mb-3">Lista de videos</h1>
            <ol>
                {% for video in videos %}
                    <li><a href="{{ video.get_absolute_url }}">{{ video.titulo | default:"Faltando titulo"}}</li></a>
                {% empty %}
                    <li>Não foi encontrado nenhum vídeo de Aperitivos</li>
                {% endfor %}
            </ol>

        </div>
    </div>
</div>
{% endblock body %}
