{% extends 'base/base.html' %}
{% load static %}
{% block title %}Rios de Luz - Aperitivos{% endblock title %}
{% block description %}página do curso Rios de Luz{% endblock description %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 mb-3">{{ video.titulo | default:"Faltando titulo"}}</h1>
            <iframe src="https://player.vimeo.com/video/{{ video.vimeo_id }}" width="640" height="352" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock body %}
